<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
        <setting name="cacheEnabled" value="false" />
        <setting name="jdbcTypeForNull" value="NULL" />
    </settings>
	
	<!-- 이부분 추가 -->
	<typeAliases>
		<typeAlias  alias="userVO" type="kr.or.ddit.user.model.UserVO"/>
		<typeAlias  alias="pageVo" type="kr.or.ddit.paging.model.PageVO"/>
		<typeAlias  alias="lprodVO" type="kr.or.ddit.lprod.model.LprodVO"/>
		<typeAlias  alias="prodVO" type="kr.or.ddit.prod.model.ProdVO"/>
	</typeAliases>
		
  <mappers>
    <mapper resource="kr/or/ddit/config/mybatis/mapper/user.xml"/>
    <mapper resource="kr/or/ddit/config/mybatis/mapper/lprod.xml"/>
    <mapper resource="kr/or/ddit/config/mybatis/mapper/prod.xml"/>
  </mappers>
</configuration>